section { width: 100%; height: 150px; outline: 1px solid black; }

#container { position: relative; width: 100%; height: 300px; }
img { position: absolute; display: block; background: red; border: 1px solid black; }

section img { background: green; }